# Task 1
In the previous exercise you created a Python environment. In the first task of this exercise, you are tasked with extending the environment to connect with your database and interact with the data it holds. 

Your first step is to import the connector module, enter your user details and connect with the database (Hint: you can use an alias when importing the module).

This gives you access to all the functionality available from the connector API, which can be accessed through the variable named connector (or whichever alias you choose).

In [2]:
import mysql.connector as connector

In [3]:
connection = connector.connect(user='root', password='sWord$89$FiSh!')

In [4]:
cursor = connection.cursor()

In [5]:
cursor.execute("USE littlelemondb")

# Task 2

In this second task, you now need to query the database to show all tables within the database. 

Having established a connection in the first task, you need to execute a test query to ensure that there are no issues. You can do this by executing, or passing, a generic query that returns a snapshot of the database tables. 

You need to execute the query on the cursor using the code that follows. The cursor, as you should recall, is the bridge through which you can pass queries and return results.

In [10]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [11]:
result = cursor.fetchall()
for res in result:
    print(res)

('bookings',)
('customers',)
('menuitems',)
('menus',)
('orderdeliverystatus',)
('orders',)
('ordersview',)
('staff',)

# Task 3
## Query with table JOIN

For the third and final task, Little Lemon need you to return specific details from your database. They require the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign.

In [25]:
join_query = """
SELECT 
    CONCAT(FirstName, ' ', LastName) as CustomerName,
    Email,
    PhoneNumber,
    CONCAT('$', FORMAT(TotalCost, 2)) as TotalCost
FROM Orders o
JOIN bookings b on b.bookingid = o.bookingid
JOIN customers c on b.customerid = c.customerid
WHERE TotalCost > 50;""" # I´ll make it 50 because I didn´t register any record above 60

In [26]:
cursor.execute(join_query)

In [27]:
result = cursor.fetchall()

In [28]:
cols = cursor.column_names
print(cols)
print(result)

('CustomerName', 'Email', 'PhoneNumber', 'TotalCost')
[('Ninnette McKinnon', 'nmckinnon0@51.la', '3779484550', '$54.00')]